* {
    padding: 0%;
    margin: 0%;
}

.img_pair {
    margin-top: 20px;
    width: 100%;
}

.header_home {
    margin-top: 1rem;
}

.container_banner {
    min-height: 43rem;
    background-image: url("../../../public/images/ImagemFundo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container_primeira_parte {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.primeira_parte {
    background-color: #FFF3E3;
    max-width: 643px;
    min-height: 443px;
    border-radius: 10px;
    margin-left: 45rem;
}

.pequeno-texto {
    font-family: 'Poppins';
    font-weight: 600;
    margin-left: 3rem;
    margin-right: 5rem;
    font-size: 16px;
    margin-top: 4rem;
    letter-spacing: 3px;
    color: #333333;
}

.titulo {
    font-family: 'Poppins';
    font-weight: 700;
    color: #B88E2F;
    margin-left: 3rem;
    margin-right: 150px;
    font-size: 52px;
    margin-top: 5px;
    line-height: 65px;

}

.especificacao {
    font-family: 'Poppins';
    font-weight: 500;
    margin-left: 3rem;
    margin-right: 4rem;
    font-size: 18px;
    margin-top: 5px;
    color: #333333;
}

.mudar-pagina {
    background-color: #B88E2F;
    width: 222px;
    height: 74px;
    font-family: 'Poppins';
    font-weight: 700;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 3rem;
    margin-right: 6rem;
    font-size: 16px;
    margin-top: 3rem;
    transition: 0.2s;
    cursor: pointer;
}

.mudar-pagina:hover {
    background-color: #FFFFFF;
    color: #B88E2F;
}

.segunda_parte {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.subtitulo {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.frase {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.container_primeira_imagem {
    display: grid;
    align-items: center;
    justify-content: center;
}

.container_segunda_imagem {
    display: grid;
    align-items: center;
    justify-content: center;
}

.container_terceira_imagem {
    display: grid;
    align-items: center;
    justify-content: center;
}

.img_pair {
    border-radius: 1rem;
    min-height: 30rem;
}

.textos_imagens {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    margin-top: 1rem;
    color: #333333;
}

.container_imagens {
    display: flex;
    justify-content: center;
    gap: 1rem;  
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.titulo_terceira_parte {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 40px;
    color: #3A3A3A;
    justify-content: center;
    display: flex;
    margin-top: 2rem;
}

.botao_veja_mais a {
    background-color: #FFFFFF;
    width: 245px;
    height: 48px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #B88E2F;
    border: solid 2px;
    border-color: #B88E2F;
    text-decoration: none;
    font-size: 16px;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
}

.botao_veja_mais {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao_veja_mais a:hover {
    background-color: #B88E2F;
    color: #FFFFFF;
}

.quarta_parte {
    display: flex;
    margin-top: 4rem;
    background-color: #FCF8F3;
    width: 100%;
    height: 670px;
}

.parte_inicial {
    gap: 4rem;
    display: flex;
    margin-top: 4rem;
    margin: 2rem;
    padding: 4rem;
    justify-content: center;
    align-items: center;
}

.escritas {
    justify-content: center;
    align-items: center;
}

.escritas h1 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 40px;
    color: #3A3A3A;
}

.escritas p {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #616161;
    margin-top: 5px;
}

.escritas a {
    background-color: #B88E2F;
    width: 176px;
    height: 48px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #FFFFFF;
    border: solid 2px;
    border-color: #B88E2F;
    text-decoration: none;
    font-size: 16px;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
}

.escritas a:hover {
    background-color: #FFFFFF;
    color: #B88E2F;
}

.segundo_banner {
    min-width: 404px;
    height: 582px;
    background-image: url("../../../public/images/Rectangle\ 24.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.carrossel_imagens {
    display: flex;
    margin-top: 2.7rem;
}

.carrossel_imagens a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.primeira_imagem_carrossel {
    min-width: 372px;
    height: 486px;
}

.segunda_imagem_carrossel {
    min-width: 52px;
    height: 486px;
}

.botao_passar {
    background-color: #FFFFFF;
    max-width: 48px;
    height: 48px;
    color: #B88E2F;
    text-decoration: none;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100%;
}

.primeira_escrita {
    display: flex;
}

.escrita_total {
    background-color: #FFFFFF;
    opacity: 72%;
    min-width: 217px;
    min-height: 130px;
    padding: 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    margin-right: 1rem;
    margin-top: 25rem;
}

.primeira_escrita {
    display: flex;
}

.conteudo_total {
    display: flex;
}

.botao_proximo {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-bottom: 2rem;
}

.botao_proximo a {
    background-color: #B88E2F;
    width: 48px;
    height: 48px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
